<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <input>
            <general>
                <enable>1</enable>
                <display_text>Hello World</display_text>
            </general>
            <frontend>
                <set_id_form>formSku</set_id_form>
                <selector_input_name>skuProduct</selector_input_name>
            </frontend>
        </input>
    </default>
</config>