<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Matvey_Input::menu" title="Check Order" translate="title" module="Matvey_Input" parent="Magento_Backend::content" sortOrder="50" dependsOnModule="Matvey_Input" resource="Matvey_Input::menu"/>
        <add id="Matvey_Input::orders" title="Manage Orders" translate="title" module="Matvey_Input" parent="Matvey_Input::menu" sortOrder="10" dependsOnModule="Matvey_Input" action="input/orders" resource="Matvey_Input::menu"/>
    </menu>
</config>